.log{
    margin-top: 200px;
}
.bar{
    width: 50%;
    height:30px;
    border-radius: 40px;
}
.img{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 10px;

}
#para{
    margin-left: 45px;
    margin-top: -24px;
    color: antiquewhite;
}